.env
ansible-related/laC/google-service-account.json
ansible-related/laC/google-service-account.json
/home/pisethkhon888/credentials
credentials/google-service-account.json
.vscode-server
/home/pisethkhon888/credentials/google-service-account.json